workDir=""

singularity {
  enabled = true
}

process {
  withLabel: local {
    executor = 'local'
    cpus = 1
  }

  withLabel: preprosessing_low {
    executor       = 'slurm'
    cpus           = 1
    time           = { 1.hour }
    memory         = { 15.GB }
    clusterOptions = {''}
    container      = "docker://biofalcon/rre:latest"
  }

  withLabel: HMMDBBuild{
    executor       = 'slurm'
    cpus           = 1
    errorStrategy  = 'retry'
    maxRetries     = 10
    time           = { task.attempt == 1 ? 1.hour : 8.hour}
    memory         = { task.attempt == 1 ? 10.GB : 25.GB }
    clusterOptions = { task.attempt == 1 ? '' : '' }
    container      = "docker://biofalcon/rre:latest"
  }

  withLabel: CreateHMM{
    executor       = 'slurm'
    cpus           = 8
    errorStrategy  = 'retry'
    maxRetries     = 10
    time           = { task.attempt == 1 ? 1.hour : 8.hour}
    memory         = { task.attempt == 1 ? 5.GB : 15.GB }
    clusterOptions = { task.attempt == 1 ? '' : '' }
    container      = "docker://biofalcon/rre:latest"
  }

  withLabel: HMMER_Run{
    executor       = 'slurm'
    cpus           = 8
    errorStrategy  = 'retry'
    maxRetries     = 10
    time           = { task.attempt < 2 ? 8.hour : task.attempt == 2 ? 24.hour : task.attempt == 3 ? 48.hour : 7.day }
    memory         = { task.attempt < 2 ? 15.GB : task.attempt == 2  ? 40.GB : task.attempt == 3 ? 60.GB : 100.GB }
    clusterOptions = { task.attempt == 1 ? '' : task.attempt <= 3  ? '' : '' }
    container      = "docker://biofalcon/rre:latest"
  }

  withLabel: HMMSelection{
    executor       = 'slurm'
    cpus           = 1
    errorStrategy  = 'retry'
    maxRetries     = 5
    time           = { 1.hour }
    memory         = { 10.GB }
    clusterOptions = { '' }
    container      = "docker://biofalcon/rre:latest"
  }

  withLabel: RRE_Extension{
    executor       = 'slurm'
    cpus           = 8
    errorStrategy  = 'retry'
    maxRetries     = 10
    time           = { task.attempt == 1 ? 8.hour : task.attempt == 2 ? 8.hour:  task.attempt == 3 ?  2.day : 14.day}
    memory         = { task.attempt == 1 ? 10.GB : task.attempt == 2 ? 25.GB : task.attempt == 3 ? 30.GB : task.attempt == 3 ? 40.GB : 60.GB }
    clusterOptions = {task.attempt == 1 ? '' : task.attempt == 2 ? '': task.attempt == 3 ?  '' : '' }
    container      = "docker://biofalcon/rre:latest"
  }

  withLabel: HEEA_Extension{
    executor       = 'slurm'
    cpus           = 8
    errorStrategy  = 'retry'
    maxRetries     = 10
    time           = { task.attempt == 1 ? 8.hour : task.attempt == 2 ? 8.hour:  task.attempt == 3 ?  2.day : 14.day}
    memory         = { task.attempt == 1 ? 10.GB : task.attempt == 2 ? 25.GB : task.attempt == 3 ? 30.GB : task.attempt == 3 ? 40.GB :  task.attempt == 4 ? 60.GB : 150.GB }
    clusterOptions = {task.attempt == 1 ? '' : task.attempt == 2 ? '': task.attempt == 3 ?  '' : '' }
    container      = "docker://biofalcon/rre:latest"
  }  

  withLabel: Polishing{
    executor       = 'slurm'
    cpus           = 8
    errorStrategy  = 'retry'
    maxRetries     = 10
    time           = { task.attempt == 1 ? 8.hour : task.attempt == 2 ? 8.hour:  task.attempt == 3 ?  2.day : 8.day}
    memory         = { task.attempt == 1 ? 25.GB : task.attempt == 2 ? 45.GB : task.attempt == 3 ? 75.GB : task.attempty == 4 ? 250.GB : 400.GB}
    clusterOptions = {task.attempt == 1 ? '' : task.attempt == 2 ? '': task.attempt == 3 ?  '' : '' }
    container      = "docker://biofalcon/rre:latest"
  }

  withLabel: CDHit{
    executor       = 'slurm'
    cpus           = 16
    errorStrategy  = 'retry'
    maxRetries     = 10
    time           = { task.attempt == 1 ? 20.minute : task.attempt == 2 ? 2.hour : task.attempt == 3 ? 8.hour : 48.hour }
    memory         = { task.attempt == 1 ? 30.GB : task.attempt == 2 ? 40.GB : (14.GB * task.attempt) } 
    clusterOptions = {task.attempt == 1 ? '' : task.attempt == 2 ? '' : task.attempt == 3 ? '' : '' }
    container      = "docker://biofalcon/rre:latest"
  }
}

executor {
    name = 'slurm'
    queueSize = 3000
}

tower {
  enabled     = false
  accessToken =''
  workspaceId =''
  label       =''
}
